<html ng-app="beispielProjekt">
	<head>
		<meta charset="utf8" />
		<title>Interaktive Systeme - i18n und l10n</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-controller="HomeCtrl">

		<div class="container">
			<div class="header clearfix">
				<h3 class="text-muted">Angular Translate {{ 'PROJECT_NAME' | translate }}</h3>
			</div>

			<div class="jumbotron">
				<h1>{{ 'LANGUAGE_SELECTION' | translate }}</h1>
				<p class="lead">{{ 'LANGUAGE_SELECTION_SUBTITLE' | translate }}</p>
				<p>
					<button type="button" class="btn btn-primary" ng-click="changeLanguage('de')">{{ 'LANG_GERMAN' | translate }}</button>
					<button type="button" class="btn btn-primary" ng-click="changeLanguage('en')">{{ 'LANG_ENGLISH' | translate }}</button>
					<button type="button" class="btn btn-primary" ng-click="changeLanguage('es')">{{ 'LANG_SPANISH' | translate }}</button>
				</p>
			</div>


			<p>{{ 'SAMPLE_TEXT' | translate }}</p>


			<footer class="footer">
			<p>Interaktive Systeme - i18n & l10n - Maurice Breit - TINF12B1</p>
			</footer>

		</div>

		<script src="js/angular.min.js"></script>
		<script src="js/angular-translate.min.js"></script>
		<script src="js/app.js"></script>
		
	</body>
</html>